.github             export-ignore
.wordpress.org      export-ignore
.codeclimate.yml    export-ignore
.distinclude        export-ignore
.editorconfig       export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/CHANGELOG.md       export-ignore
/composer.json      export-ignore
/composer.lock      export-ignore
package-lock.json   export-ignore
/package.json       export-ignore
/phpcs.xml          export-ignore
/README.md          export-ignore
/release.config.js  export-ignore
