<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheResult="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="SrbTransLatin">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="WP_CORE_DIR" value=".cache/wp-tests/wordpress"/>
        <env name="WP_TESTS_DIR" value=".cache/wp-tests/lib"/>
    </php>
</phpunit>
